table {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
}
thead tr {
  width: 100%;
}
thead {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
thead td {
  width: calc(100% / 3);
  background-color: black;
  color: white;
  border: 0.5px solid white;
}
td {
  justify-content: flex-start;
  border: 0.5px solid black;
}
